<div class="report-form">
  <% form_remote_tag :url => github_reports_path, 
    :method => :post, 
    :loading => "$('github_report_submit').hide(); $('github_report_spinner').show();", 
    :complete => "$('github_report_submit').show(); $('github_report_spinner').hide();" do %>
    <div class="margin-bottom-20">
      <h2>Project '<%=h repository.name %>': collaborators</h2>
      <ul>
        <%= render :partial => "github/collaborator", :collection => collaborators %>
      </ul>
    </div>
    <%= render :partial => "shared/report_form", :locals => {:report_for => "github"} %>
  <% end %>
</div>