<li class="member">
  <%= check_box_tag "pivotal_tracker[users][]", member.id, false, :class => "left margin-right-5" %>
  <%= h(member.name) %>
  <%= hidden_field_tag :project_id, @project.id %>
</li>