<div class="report-form">
  <% form_remote_tag :url => pivotal_tracker_reports_path, 
    :method => :post, 
    :loading => "$('pivotal_tracker_report_submit').hide(); $('pivotal_tracker_report_spinner').show();", 
    :complete => "$('pivotal_tracker_report_submit').show(); $('pivotal_tracker_report_spinner').hide();" do %>
    <div class="margin-bottom-20">
      <h2>Project '<%=h @project.name %>': members</h2>
      <ul>
        <%= render :partial => "/pivotal_tracker/members/member", :collection => @members %>
      </ul>
    </div>
    <%= render :partial => "shared/report_form", :locals => {:report_for => "pivotal_tracker"} %>
  <% end %>
</div>