<h2>Projects</h2>
<% if @projects.present? %>
  <ul><%= render :partial => "pivotal_tracker/projects/project", :collection => @projects %></ul>
<% else %>
  <ul><li>No Projects to display.</li></ul>
<% end %>